$orange: #ffa812;
$orange-dark: #fe5f1e;


@mixin nunito-regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes scale {
	0% {
		transform: scale(1);
        transform: scale(1);
    }

	100% {
		transform: scale(1.1);
		transform: scale(1.1);
	}
}

* { margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}

body {
    @include nunito-regular;
    background-color: $orange;
    .wrapper {
        margin: 20px 40px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }
}

header {
    margin: -20px;
    padding: 0 20px;
    border-bottom: 1px solid $orange;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        display: flex;
        align-items: center;
    }
    .logo-descr {
        display: flex;
        flex-direction: column;
        h1 {
            margin: 10px;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        p {
            margin: 10px;
            margin-top: 0;
        }
    }
    .cart-button {
        background-color: $orange-dark;
        color: #fff;
        padding: 10px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        cursor: pointer;
        .cart-button-price {
            border-right: 1px solid ;
            padding-right: 10px;
            gap: 5px;
        }
        div {
            display: flex;
            align-items: center;
            gap: 5px;
            img {
                width: 24px;
            }
        }
        &:hover {
            transform: scale(1.1);
            animation: scale 1s;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    p {
        padding: 8px 12px;
        border-radius: 40px;
        border: 1px solid #000;
        cursor: pointer;
        &.active {
            background-color: #000;
            color: #fff;
        }
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

.second-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sort {
    display: flex;
    gap: 5px;
    span {
        text-decoration: underline dotted;
        cursor: pointer;
        color: $orange-dark;
    }
}